<div>
  <h1>Departments</h1>
  <button type="button" class="btn btn-outline-primary">
    <%= link_to 'New department', new_department_path if current_user.admin? %>
  </button>
  <table class="table  table-striped">
    <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">body</th>
    </tr>
    </thead>
    <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><a href="<%= department_path(department) %>">
          <h5> <%= department.title %></h5>
        </a></td>
        <td><%= department.body %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>