<%= content_for :breadcrumbs do %>
  <li class="crumb-link">
    <%= link_to("Permissions", permissions_path) %>
  </li>
  <li class="crumb-link">
    <%= link_to(@permission.name, permission_path(@permission)) %>
  </li>
  <li class="crumb-trail">
    Edit
  </li>
<% end %>

<%= render partial: "form" %>
